/* Generic styles */
/*
Lol wut you can do this in CSS? Thanks the internet.
https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript?page=1&tab=active#tab-top
*/
.capitalize {
  text-transform: capitalize;
}

footer p {
  text-align: center;
}



/* Styles for the trip table */
#override-foundation .selected {
  background-color: grey;
  color: white;
}






/* Styles for trip details */
#trip-details {
  /* Start hidden */
  display: none;
}



/* Styles for forms */
form .input-container.error {
  background-color: #FF9999;
}

form .input-container {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
}

form .input-container input {
  margin: 0;
}


/* Styles for the add-trip modal */
main {
  position: relative;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index:50;
}

#add-trip {
  display: none;
  max-width: 70%;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px black;
  padding: 2rem;
  z-index: 100;
}


/* Styles for error section at the top */
#status-messages {
  background-color: #dfdfdf;

  /* Hide by default */
  display: none;
}

#status-messages ul {
  list-style: none;
  margin-left: 0;
}

#status-messages button.clear {
  margin-top: .2rem;
  height: 100%;
}

#status-messages button.clear img {
  width: 2rem;
}

#status-messages .error {
  color: red;
}

#status-messages .success {
  color: green;
}
