/* Generic styles */
/*
Lol wut you can do this in CSS? Thanks the internet.
https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript?page=1&tab=active#tab-top
*/
.capitalize {
  text-transform: capitalize;
}

footer p {
  text-align: center;
}



/* Styles for the trip table */
#override-foundation .selected {
  background-color: grey;
  color: white;
}






/* Styles for trip details */
#trip-details {
  /* Start hidden */
  display: none;
}




/* Styles for error section at the top */
#status-messages {
  background-color: #dfdfdf;

  /* Hide by default */
  display: none;
}

#status-messages ul {
  list-style: none;
  margin-left: 0;
}

#status-messages button.clear {
  margin-top: .2rem;
  height: 100%;
}

#status-messages button.clear img {
  width: 2rem;
}

#status-messages .error {
  color: red;
}

#status-messages .success {
  color: green;
}
